.idea/
config.toml
token.tok
tests/*
.oomph_prod/*
.oomph_replayer/*
oomph_prod/*
.oomph_zeqa/*
.direct_test/*
.oomph_portal_prod/*
survival_proxy/*
players/*
.DS_Store
.fleet/
.vscode.code-workspace
anticheat/example/spectrum/spectrum.exe
anticheat/example/spectrum/logs/*
anticheat/example/default/logs/*
anticheat/example/default/proxy.exe
anticheat/example/default/example.exe
anticheat/example/dragonfly/dragonfly.exe
example-proxy/example-proxy
example-proxy/example-proxy.exe
example-proxy/logs/*